@model Taller1_Mauricio_Mora.Models.Estadio

@{
    ViewData["Title"] = "Detalles del Estadio";
}

<h1 class="text-center mt-4">Detalles del Estadio</h1>

<div class="card mx-auto mt-4 shadow-sm" style="max-width: 600px;">
    <div class="card-body">
        <h4 class="card-title text-center">Información del Estadio</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">Dirección</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Direccion)</dd>

            <dt class="col-sm-4">Ciudad</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Ciudad)</dd>

            <dt class="col-sm-4">Capacidad</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Capacidad)</dd>
        </dl>
        <hr />
        <div class="d-flex justify-content-center">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary me-2">Editar</a>
            <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
        </div>
    </div>
</div>
